In [3]:
    # 1. Write a Python program to create a tuple. 
tup=(23214,653,"geg",244,543,"t2grg",'s',"fggd","gd","ghdh","rh") 
print(tup)

(23214, 653, 'geg', 244, 543, 't2grg', 's', 'fggd', 'gd', 'ghdh', 'rh')

In [5]:
 # 2. Write a Python program to create a tuple with different data types.  
 tup=(23214,True,"harsh",23.14,'c',False,"") 
print(tup)

(23214, True, 'harsh', 23.14, 'c', False, '')

In [7]:
  # 3. Write a Python program to create a tuple with numbers and print one item.  
tup=(23214,343,536,3,41,454,5,4,54) 
print(tup[1])

343

In [11]:
    # 4. Write a Python program to unpack a tuple in several variables.  

tup = 24, 812, 3
print(tup)
n1, n2, n3 = tup

print(n1 + n2 + n3) 

n1, n2, n3= tup

(24, 812, 3)
839

In [12]:
 # 5. Write a Python program to add an item in a tuple.  

tup = (12,17,16, 4, 13, 1) 
print(tup)

tup= tup + (9,)
print(tup)

tup = tup[:5] + (15, 20, 25) + tup[:5]
print(tup)

lst = list(tup) 

lst.append(30)
tup = tuple(lst)
print(tup)

(12, 17, 16, 4, 13, 1)
(12, 17, 16, 4, 13, 1, 9)
(12, 17, 16, 4, 13, 15, 20, 25, 12, 17, 16, 4, 13)
(12, 17, 16, 4, 13, 15, 20, 25, 12, 17, 16, 4, 13, 30)

In [22]:
  # 6. Write a Python program to convert a tuple to a string.  
tup=("Hello"," ","harsh"," ","mittal")
str=''.join(tup)
print(str)

Hello harsh mittal

In [25]:
# 7. Write a Python program to get the 4th element from last of a tuple
tup=(1,2,3,4,5,6,7,8)
print(tup[-4])

5

In [37]:
  # 8. Write a Python program to find the repeated items of a tuple.  

tup=(1,3,4,32,1,1,1,31,32,12,21,2,3)  
for i in tup:
    if tup.count(i) > 1:
        print(i)

1
3
32
1
1
1
32
3

In [39]:
 # 9. Write a Python program to check whether an element exists within a tuple.  
  
tup = ("h","a","r","s","h")
print("r" in tup)
print("h" in tup)

True
True

In [40]:
  # 10. Write a Python program to convert a list to a tuple.  
 
def convert(list): 
	return tuple(list) 


list = [1, 2, 3, 4] 
print(convert(list))

(1, 2, 3, 4)

In [42]:
 # 11. Write a Python program to remove an item from a tuple.  
lst=[23,"3afqdw","wqfdcd",32,"edq"]
  
lst.pop(0)
print(lst)

['3afqdw', 'wqfdcd', 32, 'edq']

In [44]:
# 12. Write a Python program to slice a tuple 
list_of_tuples = [('11','12','13'),('21','22','23'),('31','32','33'),('41','42','43')]
new_list = [item[:2] for item in list_of_tuples]
new_list
[('11', '12'), ('21', '22'), ('31', '32'), ('41', '42')]

[('11', '12'), ('21', '22'), ('31', '32'), ('41', '42')]

In [54]:
  # 13. Write a Python program to find the index of an item of a tuple.  

tup = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = tup.index(8)

print(x)

3

In [55]:
   # 14. Write a Python program to find the length of a tuple.  
tup=(1,21,23,1431,4,214,2,5,5125215,1,5,42,2,2,54125,421,5,3,25,436356,3452,41231,452,65)
print(len(tup))

24

In [60]:
# 15. Write a Python program to reverse a tuple. 
tup=("harsh")
put=reversed(tup)
print(tuple(put))

SyntaxError: unmatched ')' (<ipython-input-60-ddf50a6dac37>, line 3)